<%= form_for(@apn) do |f| %>
  <p>
    <%= f.label :why %>
    <%= f.text_area :why %>
  </p>
  <p>
    <%= f.label :diligent %>
    <%= f.text_area :diligent %>
  </p>
  <p>
    <%= f.label :cssfloat %>
    <%= f.text_area :cssfloat %>
  </p>
  <p>
    <%= f.label :best %>
    <%= f.text_area :best %>
  </p>
  <p>
    <%= f.label :employment %>
    <%= f.text_field :employment %>
  </p>
  <p>
    <%= f.label :findout %>
    <%= f.text_field :findout %>
  </p>
  <p>
    <%= f.label :gplus %>
    <%= f.text_field :gplus %>
  </p>
  <p>
    <%= f.label :skype %>
    <%= f.text_field :skype %>
  </p>

  <%= f.submit %>
<%- end %>
