<p>Enter Course Information</p>

<%
  r = 6
  c = 60
 %>

<%= semantic_form_for @course do |f| %>
  <%= f.input :name%>
  <%= f.input :course_type, as: :select, :collection => ["Boot Camp", "Workshop", "Evening Class"]%>
  <%= f.input :description, input_html: { rows: r, cols: c, class: "input-xxlarge"  } %>
  <%= f.input :desc_url, label: "Class Description URL", as: :url%>
  <%= f.inputs :start_date, :end_date%>
  <%= f.input :cost%>


  <%= f.actions do %>
    <%= f.action :submit, label: "Create Class", button_html: { class: "btn btn-primary btn-large" }%>
  <% end %>
<% end %>


