<table class="table table-hover">
  <tr>
    <th>Courses</th>
    <th>Course Type </th>
    <th>Start date</th>
    <th>Slots</th>
    <th>Applicants</th>
    <th>Accepted</th>
  </tr>

  <% @upcoming_courses.each do |course| %>
  <tr class="row_class">
    <td><%= link_to course.name, course %></td>
    <td><%= course.course_type %></td>
    <td><%= course.start_date %></td>
    <td><%= course.capacity %></td>
    <td><%= course.applicants_count %></td>
    <td><%= course.accepted_applicants_count %></td>
  </tr>
<% end %>
</table>
