<table class="table table-hover" id = "applicants_table">
  <tr class="selected_row">
    <th>Applicant</th>
    <th>Education</th>
    <th>Open source</th>
    <th>Resume</th>
    <th>Fit</th>
    <th>Work experience</th>
    <th><%= link_to "Weighted Total", sort: "total desc", subsort: "exceptional desc" %></th>
    <th><%= link_to "Exceptional", sort: "exceptional desc", subsort: "total desc" %></th>

  </tr>

  <tr class="selected_row">
    <td>Avg. of all Applicants</td>
    <% @averages.each do |avg| %>
      <td><%= "%.2f" % avg.to_f %></td>
    <% end %>
    <td></td>
      <td></td>
  </tr>

<% @selected_reviews.each do |review| %>

<%
  row_class = ""
 %>
<% exceptional = ""
  case review.exceptional
  when -1
    exceptional = "Below Avg"
  when 0
    exceptional = "Average"
  when 1
    exceptional = "Exceptional"
  end
  %>

  <tr class="<%= row_class %>" data-tag="<%= review.tag_list.map!{ |e| e.gsub(" ", "_" )}.join(" ") %>">
    <td><%= link_to "#{review.apn.profile.first_name} #{review.apn.profile.last_name}", edit_review_path(review) %></td>
    <td><%= review.education %></td>
    <td><%= review.contribution %></td>
    <td><%= review.resume %></td>
    <td><%= review.fit %></td>
    <td><%= review.work_experience %></td>
    <td><%= review.total %></td>
    <td><%= exceptional %></td>
  </tr>
<% end %>
</table>

