<div id="reviewForm">
<!-- <div id="fixed-div"> -->
<%= semantic_form_for @review, validate: true do |f| %>

  <%= f.inputs do %>
  <div style="display:none">
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.input :apn_id, as: :hidden, input_html: { value: @apn.id } %>
  </div>
    <%= f.input :education, input_html: {max: 4, min: 1} %>
    <%= f.input :contribution, input_html: {max: 4, min: 1} %>
    <%= f.input :resume, input_html: {max: 4, min: 1} %>
    <%= f.input :fit,input_html: {max: 4, min: 1} %>
    <%= f.input :work_experience,input_html: {max: 4, min: 1} %>
    <% f.input :note %>
    <%= f.input :exceptional, as: :select, value: 0, :collection => [ ["Below Average", -1], ["Average", 0], ["Exceptional", 1] ],
      input_html: {min: -1, max: 1 },
      label: "Rating" %>
    <%= f.input :decision, as: :select, input_html: { multiple: false }, label: "Recommendation (leave blank to save for later)", collection: ["Decline", "Request Video", "Request Interview"] %>

  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input, button_html: { class: "btn btn-primary pull" } %>
  <% end %>

<% end %>
</div>
