<div id="reviewForm">
<%= semantic_form_for @review do |f| %>
  <%= f.inputs do %>
  <div style="display:none">
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.input :apn_id, as: :hidden, input_html: { value: @apn.id } %>
  </div>
    <%= f.input :education, input_html: {max: 4, min: 1} %>
    <%= f.input :contribution, input_html: {max: 4, min: 1} %>
    <%= f.input :resume, input_html: {max: 4, min: 1} %>
    <%= f.input :fit,input_html: {max: 4, min: 1} %> 
    <%= f.input :work_experience,input_html: {max: 4, min: 1} %>
    <% f.input :note %>
    <%= f.input :exceptional, value: 0, 
      input_html: {min: -1, max: 1 },
      label: "-1 to toss, 1 to fast track, 0 is normal" %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input, button_html: { class: "btn btn-primary pull" } %>
  <% end %>
  
<% end %>
</div>
