<div class="row">
  <div class="span4">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @apn.profile.email %></dd>
      <dt>Phone Number</dt>
      <dd><%= @apn.profile.phone_number %></dd>
      <dt>City</dt>
      <dd><%= @apn.profile.city %></dd>
      <dt>State</dt>
      <dd><%= @apn.profile.state %></dd>
      <dt>Gender</dt>
      <dd><%= @apn.profile.gender %></dd>
      <dt>Employment</dt>
      <dd><%= @apn.profile.apn.employment %></dd>
    </dl>
    </div>
    <div class="span4">
      <dl class="dl-horizontal">
        <dt>Github</dt>
        <dd><%= @apn.profile.github %></dd>
        <dt>Twitter</dt>
        <dd><%= @apn.profile.twitter %></dd>
        <dt>Linkedin</dt>
        <dd><%= @apn.profile.linkedin %></dd>
        <dt>Google Plus</dt>
        <dd><%= @apn.profile.apn.gplus %></dd>
        <dt>Skype</dt>
        <dd><%= @apn.profile.apn.skype %></dd>
      </dl>
    </div>
</div>
<dl class=long>
  <dt>Why do you want to join Code Fellows?</dt>
  <dd><%= @apn.why %></dd>
  <dt>Tell us about a time when you learned a difficult skill</dt>
  <dd><%= @apn.diligent %></dd>
  <dt>What is your experience programming?</dt>
  <dd><%= @apn.experience %></dd>
  <dt>What's the best thing, like, ever?</dt>
  <dd><%= @apn.best %></dd>
  <dt>Technical question: What is CSS "float" property do?</dt>
  <dd><%= @apn.cssfloat %></dd>
  <dt>Where did you find out about us?</dt>
  <dd><%= @apn.findout %></dd>
  <dt>Recommendation contacts</dt>
  <dd><%= @apn.recommendation %></dd>
</dl>
