<h1>Review Dashboard</h1>
<h2><%= @unreviewed_count %> applications awaiting review</h2>
<%= link_to 'Review a New Application', new_review_path, class: "btn btn-primary btn-large" %>
<%= link_to "View All Unreviewed Applications", admin_apns_path, class: "btn" %>
<br>
<br>
<p><%= @review_count %> reviewed applications</p>

<h3>Upcoming Courses</h3>
  <%= render 'courses' %>

<br>
<h3>Filter applicants:</h3>
  <%= render 'tags' %>
  <%= render 'filter_applicants' %>
