<h1>Review Dashboard</h1>
<h2><%= @unreviewed_count %> applications awaiting review</h2>
<%= link_to 'Review a New Application', new_review_path, class: "btn btn-primary btn-large" %>
<%= link_to "View All Unreviewed Applications", admin_apns_path, class: "btn" %>
<br>
<br>
<p><%= @review_count %> reviewed applications</p>
  
<br>
<h3>Filter applicants:</h3>
<p>
<%= link_to "Undecided", decision: 'Undecided' %> |
<%= link_to "Request Video", decision: 'Request Video' %> |
<%= link_to "Request Interview", decision: 'Request Interview' %> |
<%= link_to "Decline", decision: 'Decline' %> |
<%= link_to "All", reviews_path %>
</p>
<br>
<table class="table table-hover">
  <tr>
    <th>Applicant</th>
    <th>Education</th>
    <th>Open source</th>
    <th>Resume</th>
    <th>Fit</th>
    <th>Work experience</th>
    <th><%= link_to "Weighted Total", sort: "total desc", subsort: "exceptional desc" %></th>
    <th><%= link_to "Exceptional", sort: "exceptional desc", subsort: "total desc" %></th>
    <th><%= link_to "Decision", sort: "decision desc", subsort: "total desc" %></th>
  </tr>

  <tr>
    <td>Avg. of all Applicants</td>
    <% @averages.each do |avg| %>
      <td><%= "%.2f" % avg.to_f %></td>
    <% end %>
    <td></td>
      <td></td>
  </tr>

<% @reviews.each do |review| %>

<%
  row_class = ""
  case review.decision
  when "Request Video"
    row_class = "warning"
  when "Request Interview"
    row_class = "success"
  when "Decline"
    row_class = "error"
  end
 %>
<% exceptional = ""
  case review.exceptional
  when -1
    exceptional = "Below Avg"
  when 0
    exceptional = "Average"
  when 1
    exceptional = "Exceptional"
  end
  %>

  <tr class="<%= row_class %>">
    <td><%= link_to "#{review.apn.profile.first_name} #{review.apn.profile.last_name}", edit_review_path(review) %></td>
    <td><%= review.education %></td>
    <td><%= review.contribution %></td>
    <td><%= review.resume %></td>
    <td><%= review.fit %></td>
    <td><%= review.work_experience %></td>
    <td><%= review.total %></td>
    <td><%= exceptional %></td>
    <td><%= review.decision %></td>
  </tr>
<% end %>
</table>

