<p id="notice"><%= notice %></p>

<p>
  <b>Applicant:</b>
  <%= @review.apn.profile.first_name %> <%= @review.apn.profile.last_name %>
</p>

<p>
  <h3>Application:</h3>
  <% @apn_display_attributes.each do |key, value| %>
  <dt><%= key.capitalize %></dt>
  <dd><%= value.to_s %></dd>
<% end %>
</p>

<h3>Ratings</h3>
<p>
  <b>Education:</b>
  <%= @review.education %>
</p>

<p>
  <b>Contribution:</b>
  <%= @review.contribution %>
</p>

<p>
  <b>Resume:</b>
  <%= @review.resume %>
</p>

<p>
  <b>Fit:</b>
  <%= @review.fit %>
</p>

<p>
  <b>Work experience:</b>
  <%= @review.work_experience %>
</p>

<p>
  <b>Note:</b>
  <%= @review.note %>
</p>

<p>
  <b>Exceptional:</b>
  <%= @review.exceptional %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
