<!DOCTYPE html>
<html>
<head>
  <title>Apply to Code Fellows</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!-- 
       ___           ___           ___           ___                    ___           ___     
      /\  \         /\  \         /\  \         /\  \                  /\  \         /\  \    
     /::\  \       /::\  \       /::\  \       /::\  \                /::\  \       /::\  \   
    /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/\:\  \              /:/\ \  \     /:/\:\  \  
   /:/  \:\  \   /:/  \:\  \   /:/  \:\__\   /::\~\:\  \            _\:\~\ \  \   /:/  \:\  \ 
  /:/__/ \:\__\ /:/__/ \:\__\ /:/__/ \:|__| /:/\:\ \:\__\          /\ \:\ \ \__\ /:/__/ \:\__\
  \:\  \  \/__/ \:\  \ /:/  / \:\  \ /:/  / \:\~\:\ \/__/          \:\ \:\ \/__/ \:\  \ /:/  /
   \:\  \        \:\  /:/  /   \:\  /:/  /   \:\ \:\__\             \:\ \:\__\    \:\  /:/  / 
    \:\  \        \:\/:/  /     \:\/:/  /     \:\ \/__/              \:\/:/  /     \:\/:/  /  
     \:\__\        \::/  /       \::/__/       \:\__\                 \::/  /       \::/  /   
      \/__/         \/__/         ~~            \/__/                  \/__/         \/__/    
       ___           ___           ___           ___           ___                       ___           ___           ___ 
      /\  \         /\  \         /\  \         /\__\         /\  \          ___        /\  \         /\__\         /\__\
     /::\  \       /::\  \       /::\  \       /:/  /         \:\  \        /\  \      /::\  \       /:/  /        /:/  /
    /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/  /           \:\  \       \:\  \    /:/\:\  \     /:/  /        /:/  / 
   /::\~\:\__\   /::\~\:\  \   /::\~\:\  \   /:/  /  ___       /::\  \      /::\__\  /::\~\:\  \   /:/  /  ___   /:/  /  
  /:/\:\ \:|__| /:/\:\ \:\__\ /:/\:\ \:\__\ /:/__/  /\__\     /:/\:\__\  __/:/\/__/ /:/\:\ \:\__\ /:/__/  /\__\ /:/__/   
  \:\~\:\/:/  / \:\~\:\ \/__/ \/__\:\/:/  / \:\  \ /:/  /    /:/  \/__/ /\/:/  /    \/__\:\ \/__/ \:\  \ /:/  / \:\  \   
   \:\ \::/  /   \:\ \:\__\        \::/  /   \:\  /:/  /    /:/  /      \::/__/          \:\__\    \:\  /:/  /   \:\  \  
    \:\/:/  /     \:\ \/__/        /:/  /     \:\/:/  /     \/__/        \:\__\           \/__/     \:\/:/  /     \:\  \ 
     \::/__/       \:\__\         /:/  /       \::/  /                    \/__/                      \::/  /       \:\__\
      ~~            \/__/         \/__/         \/__/                                                 \/__/         \/__/
 -->
</head>

<body>
  <%= render "layouts/navigation" %>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render "layouts/messages" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div> <!--! end of .container -->
  
  <footer class ="footer">
    <div class="container">Made with love and tenderness by <a href="http://twitter.com/bionhart">@bionhart</a>, <a href="http://twitter.com/meriskw">@meriskw</a> and <a href="http://www.twitter.com/tobillys">@tobillys</a> for <a href="http://www.codefellows.org">Code Fellows</a> class of May/June 2013</div>
  </footer>
</body>
</html>
